* {
    margin: 0;
    padding: 0;
    font-family: 'Gotham Rounded-book';
}

.g-container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
}

.social_networks{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    .facebook{
        width:46px;
        height:46px;
        background: url("../img/facebook.png");
        background-size: cover;
        margin-right: 10px;  
    }
    .instagram {
        width:46px;
        height:46px;
        background: url("../img/instagram.png");
        background-size: cover; 
        margin-right: 10px;
    }
    .twiter {
        width:46px;
        height:46px;
        background: url("../img/twiter.png");
        background-size: cover;
    }

}
@media screen and (max-width: 425px) {
    .social_networks{
        .facebook{
            width: 35px;
            height: 35px;
        }
        .instagram{
            width: 35px;
            height: 35px
        }
        .twiter{
            width: 35px;
            height: 35px
        }
    }
}
