* {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Rounded-book'; }

.g-container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto; }

.social_networks {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .social_networks .facebook {
    width: 46px;
    height: 46px;
    background: url("../img/facebook.png");
    background-size: cover;
    margin-right: 10px; }
  .social_networks .instagram {
    width: 46px;
    height: 46px;
    background: url("../img/instagram.png");
    background-size: cover;
    margin-right: 10px; }
  .social_networks .twiter {
    width: 46px;
    height: 46px;
    background: url("../img/twiter.png");
    background-size: cover; }
