* {
  margin: 0;
  padding: 0;
  font-family: 'Gotham Rounded-book'; }

.g-container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto; }

@font-face {
  font-family: 'Gotham Rounded-medium';
  src: url("../fonts/gothamrounded-medium.otf");
  font-weight: 500; }

@font-face {
  font-family: 'Gotham Rounded-book';
  src: url("../fonts/gothamrounded-book.otf");
  font-weight: 400; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: url("../img/header.jpg") no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  height: 75vh; }
  .header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 7vh;
    font-family: Gotham Rounded-medium;
    font-size: 30px;
    list-style: none;
    overflow: hidden;
    /* li.tr {
            display: none;
        }
        li.icon {
            position: absolute;
            }
        }
        ul.responsive {
            display: inline;
            position: relative;
        }*/ }
    .header ul a {
      /*margin: 0 20px 0 ;*/
      text-decoration: none;
      color: black; }
  .header .header_container {
    margin-top: 15vh; }
    .header .header_container .title {
      text-align: center;
      font-size: 40px;
      color: #a1a9b0; }
      .header .header_container .title b {
        font-weight: bold;
        color: black; }
    .header .header_container .description {
      text-align: center;
      color: #8c9398;
      font-size: 15px;
      margin-top: 20px; }
      .header .header_container .description span {
        font-family: 'Gotham Rounded-medium'; }
    .header .header_container .button {
      cursor: pointer;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 40px auto;
      width: 200px;
      height: 60px;
      -webkit-border-radius: 3%;
              border-radius: 3%;
      background-color: #3dc9b3; }
      .header .header_container .button p {
        color: #ffffff;
        font-size: 15px; }

@media screen and (max-width: 1024px) {
  .header li:last-child {
    margin-right: 2%; }
  .header .header_container .title {
    margin-top: 9%; } }

@media screen and (max-width: 425px) {
  .header {
    height: 40vh; }
    .header .burger {
      padding-top: 5vh;
      font-size: 20px; }
    .header .header_container {
      margin-top: 7vh; }
      .header .header_container .title {
        font-size: 24px; }
    .header .header_container .description {
      margin-top: 10px;
      font-size: 9px; }
    .header .header_container .button {
      width: 100px;
      height: 30px;
      margin-top: 20px; }
      .header .header_container .button p {
        font-size: 10px; } }

@media screen and (max-width: 320px) {
  .header_conteiner .description {
    font-size: 9px; }
  .header_container .button p {
    font-size: 9px; } }

.description_portfolio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff; }
  .description_portfolio .title_portfolio {
    font-size: 15px;
    margin: 70px 0 20px 0; }
  .description_portfolio hr {
    width: 40vw;
    border: 0;
    border-bottom: 2px dotted #8c9398; }
  .description_portfolio img {
    margin-top: -6px;
    padding: 0 20px;
    background-color: #fff; }
  .description_portfolio .requirement {
    margin-top: 30px;
    font-size: 14px;
    color: #8c9398;
    float: center;
    width: 40vw;
    max-width: 1130px; }
    .description_portfolio .requirement span {
      color: black;
      font-weight: bold; }

@media screen and (max-width: 425px) {
  .description_portfolio .title_portfolio {
    font-size: 12px;
    margin: 20px 0 15px 0; }
  .description_portfolio hr {
    width: 70vw; }
  .description_portfolio img {
    margin-top: -6px;
    padding: 0 15px; }
  .description_portfolio .requirement {
    margin-top: 15px;
    font-size: 11px;
    width: 80vw; } }

article nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  article nav .title {
    font-size: 15px;
    margin: 30px 0 20px 0;
    font-weight: bold; }
  article nav hr {
    width: 40vw;
    border: 0;
    border-bottom: 2px dotted #8c9398; }
  article nav img {
    margin-top: -6px;
    padding: 0 20px;
    background-color: #fff; }

article .container {
  margin-top: 82px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  article .container .product1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    article .container .product1 .image-button-1 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 151px;
      height: 151px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #3dc9b3; }
      article .container .product1 .image-button-1 .image_components {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        article .container .product1 .image-button-1 .image_components .components1 {
          width: 38px;
          height: 28px;
          border: 4px solid #fff;
          -webkit-border-radius: 10%;
                  border-radius: 10%; }
        article .container .product1 .image-button-1 .image_components .components2 {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          width: 65px;
          height: 7px;
          background-color: #fff;
          -webkit-border-bottom-left-radius: 15%;
                  border-bottom-left-radius: 15%;
          -webkit-border-bottom-right-radius: 15%;
                  border-bottom-right-radius: 15%;
          margin-top: 2px;
          position: relative; }
          article .container .product1 .image-button-1 .image_components .components2 .components3 {
            position: absolute;
            background: #3dc9b3;
            width: 9px;
            height: 1px;
            margin-top: 2px; }
    article .container .product1 .container {
      margin-top: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      article .container .product1 .container .title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 15px;
        color: #353535;
        font-weight: 600; }
      article .container .product1 .container hr {
        margin-top: 22px;
        width: 33px;
        height: 3px;
        background-color: #3dc9b3; }
    article .container .product1 .text {
      margin: 25px 10px 0 10px;
      float: center;
      max-width: 339px; }
  article .container .product2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    article .container .product2 .image-button-2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 151px;
      height: 151px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #3dc9b3; }
      article .container .product2 .image-button-2 p {
        font-size: 60px;
        font-weight: 400;
        color: #fff;
        width: auto;
        letter-spacing: -8px;
        margin-right: 8px; }
    article .container .product2 .container {
      margin-top: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      article .container .product2 .container .title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 15px;
        color: #353535;
        font-weight: 600; }
      article .container .product2 .container hr {
        margin-top: 22px;
        width: 33px;
        height: 3px;
        background-color: #3dc9b3; }
    article .container .product2 .text {
      margin: 25px 10px 0 10px;
      float: center;
      max-width: 339px; }
  article .container .product3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    article .container .product3 .image-button-3 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 151px;
      height: 151px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      background-color: #3dc9b3; }
      article .container .product3 .image-button-3 .components-1 {
        position: relative;
        width: 45px;
        height: 78px;
        background-color: #fff;
        -webkit-border-radius: 50px 50px 0 0;
                border-radius: 50px 50px 0 0;
        -webkit-transform: rotate(315deg);
            -ms-transform: rotate(315deg);
                transform: rotate(315deg);
        margin-right: 20px; }
      article .container .product3 .image-button-3 .components-2 {
        margin-left: 15px;
        position: absolute;
        width: 45px;
        height: 78px;
        background-color: #fff;
        -webkit-border-radius: 50px 50px 0 0;
                border-radius: 50px 50px 0 0;
        -webkit-transform: rotate(-315deg);
            -ms-transform: rotate(-315deg);
                transform: rotate(-315deg); }
    article .container .product3 .container {
      margin-top: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      article .container .product3 .container .title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 15px;
        color: #353535;
        font-weight: 600; }
      article .container .product3 .container hr {
        margin-top: 22px;
        width: 33px;
        height: 3px;
        background-color: #3dc9b3; }
    article .container .product3 .text {
      margin: 25px 10px 0 10px;
      float: center;
      max-width: 339px; }

@media screen and (max-width: 768px) {
  main > article > .g-container > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    main > article > .g-container > .container .product2 {
      margin: 50px 0 50px 0; } }

@media screen and (max-width: 425px) {
  main > article > .g-container nav .title {
    font-size: 12px;
    margin: 20px 0 15px 0; }
  main > article > .g-container nav hr {
    width: 70vw; }
  main > article > .g-container nav img {
    margin-top: -6px;
    padding: 0 15px; }
  main > article > .g-container .container {
    margin-top: 35px; }
    main > article > .g-container .container .product1 .image-button-1 {
      width: 80px;
      height: 80px; }
      main > article > .g-container .container .product1 .image-button-1 .image_components .components1 {
        position: relative;
        width: 25px;
        height: 18px;
        border: 2px solid #fff; }
      main > article > .g-container .container .product1 .image-button-1 .image_components .components2 {
        width: 43px;
        height: 4px; }
      main > article > .g-container .container .product1 .image-button-1 .image_components .components3 {
        height: 0.5px;
        margin-top: 1px; }
    main > article > .g-container .container .product1 .container {
      margin-top: 15px; }
      main > article > .g-container .container .product1 .container .title {
        font-size: 13px; }
      main > article > .g-container .container .product1 .container hr {
        margin-top: 6px;
        width: 30px;
        height: 2px; }
    main > article > .g-container .container .product1 .text {
      margin: 15px 7px 0;
      font-size: 12px; }
    main > article > .g-container .container .product2 .image-button-2 {
      width: 80px;
      height: 80px; }
      main > article > .g-container .container .product2 .image-button-2 p {
        font-size: 40px;
        letter-spacing: -6px;
        margin-right: 6px; }
    main > article > .g-container .container .product2 .container {
      margin-top: 15px; }
      main > article > .g-container .container .product2 .container .title {
        font-size: 13px; }
      main > article > .g-container .container .product2 .container hr {
        margin-top: 6px;
        width: 30px;
        height: 2px; }
    main > article > .g-container .container .product2 .text {
      margin: 15px 7px 0;
      font-size: 12px; }
    main > article > .g-container .container .product3 .image-button-3 {
      width: 80px;
      height: 80px; }
      main > article > .g-container .container .product3 .image-button-3 .components-1 {
        position: relative;
        width: 25px;
        height: 40px;
        margin-right: -28px; }
      main > article > .g-container .container .product3 .image-button-3 .components-2 {
        position: relative;
        width: 25px;
        height: 40px;
        margin-right: -2px; }
    main > article > .g-container .container .container {
      margin-top: 15px; }
      main > article > .g-container .container .container .title {
        font-size: 13px; }
      main > article > .g-container .container .container hr {
        margin-top: 6px;
        width: 30px;
        height: 2px; }
    main > article > .g-container .container .text {
      margin: 15px 7px 0;
      font-size: 12px; } }

.element-2 .container-2 {
  margin-top: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .element-2 .container-2 .image-1 {
    min-width: 50%;
    background-color: #f3f5f8;
    overflow-x: hidden;
    height: 480px; }
    .element-2 .container-2 .image-1 .image-iphone {
      display: block;
      background-image: url("../img/iPhone_5S_isometric_view_mock_up.png");
      width: 145%;
      height: 100%;
      background-size: 100% auto;
      background-repeat: no-repeat; }
  .element-2 .container-2 .description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .element-2 .container-2 .description .title {
      font-size: 15px;
      font-weight: 600; }
    .element-2 .container-2 .description hr {
      width: 90%;
      border: 0;
      border-bottom: 2px dotted #8c9398;
      padding-top: 15px; }
    .element-2 .container-2 .description img {
      margin-top: -6px;
      padding: 0 20px;
      background-color: #fff; }
    .element-2 .container-2 .description .text {
      max-width: 520px;
      width: 95%;
      float: right;
      margin: 25px 5px;
      font-size: 14px;
      color: #8c9398; }

@media screen and (max-width: 425px) {
  .element-2 .container-2 .image-1 {
    height: auto; }
  .element-2 .container-2 .description .title {
    font-size: 12px; }
  .element-2 .container-2 .description .text {
    font-size: 10px;
    margin: 10px 5px; } }

.element-2 .image-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/flowers.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 900px;
          box-shadow: inset 0 0 900px; }
  .element-2 .image-2 .text-title {
    font-size: 40px;
    color: #ffffff;
    margin: 50px 0 20px; }
  .element-2 .image-2 .text {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px; }
    .element-2 .image-2 .text span {
      font-weight: 600; }
  .element-2 .image-2 .image {
    width: 44px;
    height: 44px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #3dc9b3;
    cursor: pointer;
    margin-bottom: 50px; }
    .element-2 .image-2 .image p {
      font-size: 17px;
      color: #fff;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      margin-top: 27px;
      font-weight: 600; }

.element-2 .image-2:hover {
  -webkit-box-shadow: none;
          box-shadow: none; }

@media screen and (max-width: 425px) {
  .element-2 .image-2 .text-title {
    font-size: 16px;
    margin: 25px 0 15px; }
  .element-2 .image-2 image {
    margin-bottom: 20px; }
  .element-2 .image-2 .text {
    font-size: 12px; }
  .element-2 .image-2 .image {
    width: 30px;
    height: 30px;
    margin-bottom: 20px; }
    .element-2 .image-2 .image p {
      font-size: 12px;
      margin-top: 18px; } }

.photo_gallery .g-container .container {
  margin-top: 82px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .photo_gallery .g-container .container .element1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .photo_gallery .g-container .container .element1 .image_button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 325px;
      height: 200px;
      background-color: #3dc9b3; }
      .photo_gallery .g-container .container .element1 .image_button .magnifier {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: -20px; }
        .photo_gallery .g-container .container .element1 .image_button .magnifier .circle {
          width: 20px;
          height: 20px;
          border: 4px solid beige;
          -webkit-border-radius: 50%;
                  border-radius: 50%; }
        .photo_gallery .g-container .container .element1 .image_button .magnifier .straight {
          width: 18px;
          height: 4px;
          background: beige;
          -webkit-transform: rotate(-315deg);
              -ms-transform: rotate(-315deg);
                  transform: rotate(-315deg);
          margin-left: -9px;
          margin-top: 25px; }
      .photo_gallery .g-container .container .element1 .image_button .text {
        margin-top: 20px;
        color: #ffffff;
        font-size: 15px; }
    .photo_gallery .g-container .container .element1 .container-r {
      margin-top: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .photo_gallery .g-container .container .element1 .container-r .title {
        color: #353535;
        font-size: 15px;
        font-weight: 600; }
      .photo_gallery .g-container .container .element1 .container-r hr {
        margin-top: 10px;
        width: 33px;
        height: 3px;
        background-color: #3dc9b3; }
    .photo_gallery .g-container .container .element1 .description {
      color: #8c9398;
      font-size: 14px;
      max-width: 348px;
      float: left;
      margin: 20px 10px 0; }
  .photo_gallery .g-container .container .element2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .photo_gallery .g-container .container .element2 .image_button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 325px;
      height: 200px;
      background-image: url("../img/laptop.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat; }
    .photo_gallery .g-container .container .element2 .container-r {
      margin-top: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .photo_gallery .g-container .container .element2 .container-r .title {
        color: #353535;
        font-size: 15px;
        font-weight: 600; }
      .photo_gallery .g-container .container .element2 .container-r hr {
        margin-top: 10px;
        width: 33px;
        height: 3px;
        background-color: #3dc9b3; }
    .photo_gallery .g-container .container .element2 .description {
      color: #8c9398;
      font-size: 14px;
      max-width: 348px;
      float: left;
      margin: 20px 10px 0; }
  .photo_gallery .g-container .container .element3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .photo_gallery .g-container .container .element3 .image_button {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 325px;
      height: 200px;
      background-image: url("../img/dog.jpg");
      background-size: 100% auto;
      background-repeat: no-repeat; }
    .photo_gallery .g-container .container .element3 .container-r {
      margin-top: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .photo_gallery .g-container .container .element3 .container-r .title {
        color: #353535;
        font-size: 15px;
        font-weight: 600; }
      .photo_gallery .g-container .container .element3 .container-r hr {
        margin-top: 10px;
        width: 33px;
        height: 3px;
        background-color: #3dc9b3; }
    .photo_gallery .g-container .container .element3 .description {
      color: #8c9398;
      font-size: 14px;
      max-width: 348px;
      float: left;
      margin: 20px 10px 0; }

@media screen and (max-width: 768px) {
  .photo_gallery .g-container .container {
    margin-top: 50px; }
    .photo_gallery .g-container .container .element1 {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .photo_gallery .g-container .container .element1 p {
        margin-bottom: 10px; }
      .photo_gallery .g-container .container .element1 .container-r {
        margin-top: 0; }
    .photo_gallery .g-container .container .element2 {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .photo_gallery .g-container .container .element2 p {
        margin-bottom: 10px; }
      .photo_gallery .g-container .container .element2 .container-r {
        margin-top: 0; }
    .photo_gallery .g-container .container .element3 {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .photo_gallery .g-container .container .element3 p {
        margin-bottom: 10px; }
      .photo_gallery .g-container .container .element3 .container-r {
        margin-top: 0; } }

@media screen and (max-width: 425px) {
  .photo_gallery .g-container .container .element1 .image_button {
    width: 300px; }
    .photo_gallery .g-container .container .element1 .image_button .magnifier {
      margin-top: 0; }
    .photo_gallery .g-container .container .element1 .image_button .text {
      font-size: 12px; }
  .photo_gallery .g-container .container .element1 .container-r .title {
    font-size: 10px; }
  .photo_gallery .g-container .container .element1 .container-r .description {
    font-size: 8px; }
  .photo_gallery .g-container .container .element2 .image_button {
    width: 300px; }
    .photo_gallery .g-container .container .element2 .image_button .magnifier {
      margin-top: 0; }
    .photo_gallery .g-container .container .element2 .image_button .text {
      font-size: 12px; }
  .photo_gallery .g-container .container .element2 .container-r .title {
    font-size: 10px; }
  .photo_gallery .g-container .container .element2 .container-r .description {
    font-size: 8px; }
  .photo_gallery .g-container .container .element3 .image_button {
    width: 300px; }
    .photo_gallery .g-container .container .element3 .image_button .magnifier {
      margin-top: 0; }
    .photo_gallery .g-container .container .element3 .image_button .text {
      font-size: 12px; }
  .photo_gallery .g-container .container .element3 .container-r .title {
    font-size: 10px; }
  .photo_gallery .g-container .container .element3 .container-r .description {
    font-size: 8px; } }
